<div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a (click)='ListarEmpresa()'>Listar</a></li>
        <li><a href="#">Incluir</a></li>
        <li><a href="#">Alterar</a></li>
        <li><a href="#">Excluir</a></li>
      </ul>
</div>
<div class="container">
   <div class="col-lg-4 text-center">
      <div *ngIf="empresa">
          <strong> {{empresa}} </strong>
        </div>
    </div>
</div>
<div class="clearfix visible-lg"></div>
