<div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Listar</a></li>
        <li><a href="#">Incluir</a></li>
        <li><a href="#">Excluir</a></li>
      </ul>
</div>
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="clearfix visible-lg"></div>
