<!--The content below is only a placeholder and can be replaced.-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/empresa" routerLinkActive="active">Empresa</a></li>
          <li><a routerLink="/usuario" routerLinkActive="active">Usuario</a></li>
          <li><a routerLink="/associacao" routerLinkActive="active">Associação</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
